@-moz-document url-prefix(about:home), url-prefix(about:newtab) { 
  
body {
  background: url(wallpaper-dark.png) !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center center !important;
}

}


/*@-moz-document  url-prefix("about:"), url-prefix("chrome://"), url-prefix("resource://"){
:root {
  --in-content-page-color: rgb(21, 20, 26)!important;
  --in-content-page-background: #fff!important;
  --in-content-text-color: var(--in-content-page-color)!important;
  --in-content-deemphasized-text: rgb(91, 91, 102)!important;
  --in-content-box-background: #fff!important;
  --in-content-box-background-odd: rgba(12, 12, 13, 0.05)!important;
  --in-content-box-border-color: rgb(143, 143, 157)!important;
  --in-content-box-info-background: #f0f0f4!important;
  --in-content-item-hover: color-mix(in srgb, var(--in-content-primary-button-background) 20%, transparent)!important;
  --in-content-item-hover-text: var(--in-content-page-color)!important;
  --in-content-item-selected: var(--in-content-primary-button-background)!important;
  --in-content-item-selected-text: var(--in-content-primary-button-text-color)!important;
  --in-content-icon-color: rgb(91,91,102)!important;
  --in-content-accent-color: #0a84ff!important;
  --in-content-accent-color-active: #0060df!important;
  --in-content-border-hover: var(--grey-90-a50)!important;
  --in-content-border-invalid: var(--red-50)!important;
  --in-content-border-color: #d7d7db!important;
  --in-content-error-text-color: #c50042!important;
  --in-content-link-color: var(--blue-60)!important;
  --in-content-link-color-hover: var(--blue-70)!important;
  --in-content-link-color-active: var(--blue-80)!important;
  --in-content-link-color-visited: var(--blue-60)!important;
  --in-content-button-background: rgba(207, 207, 216, 0.33)!important;
  --in-content-button-background-hover: rgba(207, 207, 216, 0.66)!important;
  --in-content-button-background-active: rgba(207, 207, 216, 1)!important;
  --in-content-primary-button-text-color: rgb(255,255,255)!important;
  --in-content-primary-button-background: #0061e0!important;
  --in-content-primary-button-background-hover: #0250bb!important;
  --in-content-primary-button-background-active: #053e94!important;
  --in-content-danger-button-background: #e22850!important;
  --in-content-danger-button-background-hover: #c50042!important;
  --in-content-danger-button-background-active: #810220!important;
  --in-content-focus-outline-color: var(--in-content-primary-button-background)!important;
  --in-content-button-border-radius: 4px!important;
  --in-content-button-horizontal-padding: 15px!important;
  --in-content-button-vertical-padding: 7px!important;
  --in-content-table-background: #f8f8fa!important;
  --in-content-table-border-dark-color: #d1d1d1!important;
  --in-content-table-header-background: #0a84ff!important;
  --in-content-table-header-color: #ffffff!important;
  --in-content-dialog-header-background: #f1f1f1!important;
  --in-content-sidebar-width: 240px!important;
  --dialog-warning-text-color: var(--red-60)!important;
  --checkbox-border-color: rgb(143,143,157)!important;
  --checkbox-unchecked-bgcolor: rgb(240,240,244)!important;
  --checkbox-unchecked-hover-bgcolor: rgb(224,224,230)!important;
  --checkbox-unchecked-active-bgcolor: rgb(207,207,216)!important;
  --checkbox-checked-bgcolor: rgb(0,97,224)!important;
  --checkbox-checked-color: rgb(251,251,254)!important;
  --checkbox-checked-border-color: transparent!important;
  --checkbox-checked-hover-bgcolor: rgb(2,80,187)!important;
  --checkbox-checked-active-bgcolor: rgb(5,62,148)!important;
  --blue-40: #45a1ff!important;
  --blue-50: #0a84ff!important;
  --blue-50-a30: rgba(10, 132, 255, 0.3)!important;
  --blue-60: #0060df!important;
  --blue-70: #003eaa!important;
  --blue-80: #002275!important;
  --grey-20: #ededf0!important;
  --grey-30: #d7d7db!important;
  --grey-40: #b1b1b3!important;
  --grey-60: #4a4a4f!important;
  --grey-90-a10: rgba(12, 12, 13, 0.1)!important;
  --grey-90-a20: rgba(12, 12, 13, 0.2)!important;
  --grey-90-a30: rgba(12, 12, 13, 0.3)!important;
  --grey-90-a50: rgba(12, 12, 13, 0.5)!important;
  --grey-90-a60: rgba(12, 12, 13, 0.6)!important;
  --green-50: #30e60b!important;
  --green-60: #12bc00!important;
  --green-70: #058b00!important;
  --green-80: #006504!important;
  --green-90: #003706!important;
  --orange-50: #ff9400!important;
  --red-40: #ff4f5e!important;
  --red-50: #ff0039!important;
  --red-50-a30: rgba(255, 0, 57, 0.3)!important;
  --red-60: #d70022!important;
  --red-70: #a4000f!important;
  --red-80: #5a0002!important;
  --red-90: #3e0200!important;
  --yellow-50: #ffe900!important;
  --yellow-60: #d7b600!important;
  --yellow-60-a30: rgba(215, 182, 0, 0.3)!important;
  --yellow-70: #a47f00!important;
  --yellow-80: #715100!important;
  --yellow-90: #3e2800!important;
  --shadow-10: 0 1px 4px var(--grey-90-a10)!important;
  --shadow-30: 0 4px 16px var(--grey-90-a10)!important;
  --card-padding: 16px!important;
  --card-shadow: var(--shadow-10)!important;
  --card-outline-color: var(--grey-30)!important;
  --card-shadow-hover: var(--card-shadow), 0 0 0 5px var(--card-outline-color)!important;
}
  /* newtab 
body{
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu", "Helvetica Neue", sans-serif;
  --newtab-background-color: rgba(40,40,40,1) !important;
  --newtab-background-color-secondary: rgba(255,255,255,.01) !important;
  --newtab-border-primary-color: #B1B1B3!important;
  --newtab-border-secondary-color: #D7D7DB!important;
  --newtab-element-active-color: rgba(215, 215, 219, 0.6)!important;
  --newtab-element-hover-color: #EDEDF0!important;
  --newtab-icon-primary-color: rgba(12, 12, 13, 0.8)!important;
  --newtab-icon-secondary-color: rgba(12, 12, 13, 0.6)!important;
  --newtab-icon-tertiary-color: #D7D7DB!important;
  --newtab-inner-box-shadow-color: transparent !important;
  --newtab-inner-box-shadow-color-nte: transparent !important;
  --newtab-tile-shadow-secondary: rgba(29, 17, 51, 0.2)!important;
  --newtab-link-primary-color: #0060DF!important;
  --newtab-link-secondary-color: #008EA4!important;
  --newtab-text-conditional-color: #4A4A4F!important;
  --newtab-text-primary-color: #15141a!important;
  --newtab-text-secondary-color: #737373!important;
  --newtab-textbox-background-color: #FFF!important;
  --newtab-textbox-border: rgba(12, 12, 13, 0.2)!important;
  --newtab-textbox-focus-color: #0060DF!important;
  --newtab-textbox-focus-boxshadow: 0 0 0 1px #0060DF, 0 0 0 4px rgba(0, 96, 223, 0.3)!important;
  --newtab-background-button-color: rgba(223, 223, 223, 0.5)!important;
  --newtab-background-button-text-color: #484848!important;
  --newtab-background-button-hover-color: rgba(196, 196, 196, 0.5)!important;
  --newtab-background-button-active-color: rgba(151, 151, 151, 0.5)!important;
  --newtab-button-primary-color: #0060DF!important;
  --newtab-button-secondary-color: inherit!important;
  --newtab-feed-button-background: #EDEDF0!important;
  --newtab-feed-button-text: #0C0C0D!important;
  --newtab-feed-button-background-faded: rgba(237, 237, 240, 0.6)!important;
  --newtab-feed-button-text-faded: rgba(12, 12, 13, 0)!important;
  --newtab-feed-button-spinner: #737373!important;
  --newtab-contextmenu-background-color: #F9F9FA!important;
  --newtab-contextmenu-button-color: #FFF!important;
  --newtab-modal-color: #FFF!important;
  --newtab-overlay-color: rgba(237, 237, 240, 0.8)!important;
  --newtab-section-header-text-color: #737373!important;
  --newtab-section-navigation-text-color: #737373!important;
  --newtab-section-active-contextmenu-color: #0C0C0D!important;
  --newtab-search-border-color: transparent!important;
  --newtab-search-dropdown-color: #FFF!important;
  --newtab-search-dropdown-header-color: #F9F9FA!important;
  --newtab-search-header-background-color: rgba(249, 249, 250, 0.95)!important;
  --newtab-search-icon-color: rgba(12, 12, 13, 0.4)!important;
  --newtab-search-wordmark-color: #363959!important;
  --newtab-topsites-background-color: #FFF!important;
  --newtab-topsites-icon-shadow: inset 0 0 0 1px var(--newtab-inner-box-shadow-color)!important;
  --newtab-topsites-label-color: inherit!important;
  --newtab-topsites-outer-card-hover: rgba(0, 0, 0, 0.05)!important;
  --newtab-topsites-context-menu-hover: rgba(0, 0, 0, 0.05)!important;
  --newtab-card-active-outline-color: #D7D7DB!important;
  --newtab-card-background-color: #FFF!important;
  --newtab-card-hairline-color: rgba(0, 0, 0, 0.1)!important;
  --newtab-card-placeholder-color: #D7D7DB!important;
  --newtab-card-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.1)!important;
  --newtab-snippets-background-color: #FFF!important;
  --newtab-snippets-hairline-color: transparent!important;
  --newtab-background-primary-text-color: #151515!important;
  --newtab-focus-outline: rgba(0, 96, 223, 0.25)!important;
  --newtab-focus-border: #0060DF!important;
  --newtab-focus-border-selected: rgba(0, 0, 0, 0.15)!important;
  --newtab-seperator-line-color: #E1E0E6!important;
  --newtab-primary-action-background: #0060DF!important;
  --newtab-primary-action-background-off: #E9E9E9!important;
  --customize-menu-primary-text-color: #20123A!important;
  --customize-menu-check-fill: #FFF!important;
  --customize-menu-check-fill-contrast: #000!important;
  --customize-menu-background: #FFF!important;
  --customize-menu-secondary-action-background: #F9F9FA!important;
  --customize-menu-secondary-action-background-hover: #EDEDF0!important;
  --customize-menu-secondary-action-background-active: #E2E2E6!important;
  --customize-menu-seperator-line-color: #E1E0E6!important;
  --customize-menu-first-shadow: rgba(9, 32, 77, 0.12)!important;
  --customize-menu-second-shadow: rgba(29, 17, 51, 0.12)!important;
  --customize-menu-primary-action-text: #FFF!important;
  --customize-menu-line-color: #716F87!important;
  --newtab-search-first-shadow: none !important;
  --newtab-search-second-shadow: none !important;
  --newtab-search-text-color: #585165!important;
  --newtab-card-first-shadow: none !important;
  --newtab-card-second-shadow: none !important;
  --newtab-wordmark-color: rgba(255,255,255,.9)!important;
}
.search-wrapper .search-inner-wrapper {
  background-color: rgba(255,255,255,.01) !important;
  border-radius: 68px !important;
  box-shadow: none !important;
  border: none !important;
}
}*/