/* --------------------------------------------------------------------------------------------------------- 
Fluidfox - What Mozilla Should've Shipped Firefox With in the First Place.

The goal of this userChrome is to add some much needed polish to default firefox themes. Many details have 
been painstakingly modified to create an overall more professional appearce. Gone are the heavy shadows from
the 90's, unbalanced spacing, and non-native vibes. In their place is a minimal, yet carefully modified, 
userChrome that will please developers, designers, and grandmas alike.

This theme is fully compatible with both light and dark modes, so feel free to use the version that fits
your mood. However, you will likely run into issues if installing 3rd party themes from addons.mozilla.org.

If you're using this theme, I would love to get your feedback via the GitHub page below:
https://github.com/dannycandle/FluidFox
--------------------------------------------------------------------------------------------------------- */

/* Theme information
Theme Name: Fluidfox
Author: Daniel Candelaria
Platform: Mac OS
Firefox Versions: 102+
*/

/* ------------------------- */
/* Spacing, Padding, Shadows */
/* ------------------------- */

/* Tab Padding */
#tabbrowser-tabs .tabbrowser-tab{
   --tab-border-radius: 7px;
   --tab-block-margin: 6px 4px;
   --tab-min-width: 40px;
   --tab-label-mask-size: 0.75em;
   --inline-tab-padding: 10px;}
 
 :root {
 --tab-min-height: 28px !important;
 --tab-max-height: 28px !important;
 }

 /* Suppress Connecting/Waiting/Reading/Transerring */
#statuspanel[type="status"] {
   display: none !important;
 }
 /* Suppress Link Destination Overlay */
 #statuspanel[type="overLink"] {
   display: none !important;
 }

 /* Tab Shadows */

 .tabbrowser-tab:is([visuallyselected="true"], 
 [multiselected])>.tab-stack>.tab-background { 
 box-shadow: 0px 0px 0px 0px rgba(0,0,0,0) !important;}


 /* Bookmarks Bar Padding */

 #PersonalToolbar {
   padding: 4px;
}


/* Active Address Bar Dropdown */

:root[lwt-default-theme-in-dark-mode]  #urlbar[breakout][breakout-extend] > #urlbar-background {
   border-radius: 8px !important;
   box-shadow: 0px 0px 20px -11px rgba(0,0,0,.2) !important;
}


/* Focused Address/URL Field */

#urlbar-background { 
    outline: none !important; 
    box-shadow: none !important
}
 
 /*  -------------  */
 /* | NavBar Size | */
 /*  -------------  */
 
 #urlbar-input {
   height: 15px !important;
 }
 
 #urlbar{
   min-height: 27px !important;
 }
 
 .toolbarbutton-badge {
   /* min-width: 10px !important; */
 }
 
 #urlbar-background {
   border-radius: 7px !important;
 }
 
 
 /*  ---------  */
 /* | Borders | */
 /*  ---------  */
 
 .tabbrowser-tab::after {
    border: 0 !important;
 }
 .titlebar-spacer[type="pre-tabs"] {
    border: 0 !important;
 }
 #navigator-toolbox {
    border: 1 !important;
 }
 
 .titlebar-spacer[type="pre-tabs"] {
    border: 0 !important;
 }
 
 .tabbrowser-tab::after {
    border: 0 !important;
 }
 
 #urlbar-background {
    border: 0 !important;
 }
 
 #urlbar[open] > .urlbarView > .urlbarView-body-outer > .urlbarView-body-inner {
     border-top: 0 !important;
 }

 
 
 /* Add Transparency - Comment out this section if you prefer no transparency! */
 :root:not(:-moz-window-inactive) #navigator-toolbox {
    -moz-appearance: -moz-mac-source-list !important;
 }
 
 :root:-moz-window-inactive #navigator-toolbox {
   -moz-appearance: -moz-mac-source-list !important;
}

 /* Active Tab */
 
 :root:not([lwt-default-theme-in-dark-mode]) .tab-background[selected],
 .tab-background[multiselected="true"] {	
    background: rgba(0,0,0,.05) !important;
 }
 
 :root[lwt-default-theme-in-dark-mode] .tab-background[selected],
 .tab-background[multiselected="true"] {	
    background: rgba(255,255,255,.06) !important;
 }
 
 
 /* Navigation Bar Background */
 
 :root:not([lwt-default-theme-in-dark-mode]) #nav-bar {
   background-color: rgba(255,255,255,.6) !important;
 }

 :root[lwt-default-theme-in-dark-mode] #nav-bar {
   background-color: rgba(65,65,65,.6) !important; 
 }
 
 /* Inactive Address/Search Field Background */
 
 :root:not([lwt-default-theme-in-dark-mode]) #urlbar-background {
   background-color: rgba(0,0,0,.03) !important;
 }
 
 :root[lwt-default-theme-in-dark-mode] #urlbar-background {
    background: rgba(255,255,255,.03) !important;
 }

 
 /* Active Address/Search Field Dropdown */
 
 :root:not([lwt-default-theme-in-dark-mode])  #urlbar[breakout][breakout-extend] > #urlbar-background {
    background: rgba(250,250,250,1) !important;
 }
 
 :root[lwt-default-theme-in-dark-mode]  #urlbar[breakout][breakout-extend] > #urlbar-background {
    background: rgba(60,60,70,.97) !important;
 }

 
 /* Bookmarks Bar */

 :root:not([lwt-default-theme-in-dark-mode]) #PersonalToolbar {
    background-color: rgba(255,255,255,.65) !important;
 }
 
 :root[lwt-default-theme-in-dark-mode] #PersonalToolbar {
    background-color: rgba(40,40,40,1) !important;
 }
 
 
 /* Navigation Bar Separator */
 
 :root[lwt-default-theme-in-dark-mode] #navigator-toolbox {
   border-color:rgba(37,37,37, 1) !important;
 }
 
 :root:not([lwt-default-theme-in-dark-mode]) #navigator-toolbox {
   border-color:rgba(240,240,240, 1) !important;
 }